@import url("https://fonts.googleapis.com/css2?family=Cookie&family=IM+Fell+English+SC&family=Montserrat:wght@400;600;700&family=Paytone+One&display=swap");

/* 
font-family: 'Cookie', cursive;
font-family: 'IM Fell English SC', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Paytone One', sans-serif;
 */

*,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

hr {
  background-color: rgb(226, 226, 226);
  width: 100%;
  margin: 12px 0 5px 0;
}

nav > div > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  background-color: transparent;
}

.nav {
  height: 100%;
}

.nav > div > .marge,
.nav > div,
.nav > .marge,
.marge {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  margin-left: 20px;
  font-weight: 500;
  font-size: 25px;
  letter-spacing: 1px;
  font-family: "Paytone One", sans-serif;
}

#logo {
  height: 100%;
  margin-left: 150px;
  margin-right: 50px;
}

.disabled {
  cursor: inherit;
}

.disabled:hover {
  cursor: inherit;
  color: black;
}

.big_boss {
  position: relative;
  background: url("../images/home-bg.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#nav_left {
  position: relative;
  background: #f1eded;
  border-radius: 0 0 15px 15px;
  height: 100%;
}

#nav_left > .nav_link:hover {
  color: #fec057;
}

#categorie {
  display: flex;
  margin-left: 20px;
  width: 100%;
  align-items: center;
}

#cart {
  height: 60px;
}
#cart:hover {
  color: #fec057;
}

.connexionAndCart {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 357px;
  background: #f1eded;
  height: 100%;
  border-radius: 0 0 15px 15px;
}

#connexion{
  cursor: pointer;
}

#connexion:hover {
  color: #fec057;
}

.connexionAndCart > a > i {
  display: flex;
  align-items: center;
}

.cart_container {
  margin-left: 0;
  margin-right: 20px !important;
  cursor: pointer;
}

#dropdown {
  cursor: pointer;
  width: 30px;
}

#Dropdown_Arrow {
  margin-left: 10px;
  margin-right: 10px;
}

#drop_modal{
  margin-left: 10px;
}

#dropdown_categorie {
  display: flex;
}

#drop {
  height: 20px;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 25px;
  -moz-user-select: none; /* Firefox */
  -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
  -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
  user-select: none; /* Propriété standard */
}

/* Home_bg */

#home_bg {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 90vh;
  align-items: center;
}

#home_bg > * {
  -moz-user-select: none; /* Firefox */
  -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
  -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
  user-select: none; /* Propriété standard */
}

#gourmet_img {
  height: 300px;
  margin-bottom: 20px;
  margin-top: 80px;
}

h1 {
  font-size: 100px;
  color: #f1eded;
  letter-spacing: 4px;
  font-family: "IM Fell English SC", serif;
  text-align: center;
}

h2 {
  font-style: italic;
  font-size: 60px;
  color: #f1eded;
  letter-spacing: 4px;
  font-family: "Cookie", cursive;
  margin-bottom: 30px;
  text-align: center;
}

/* Search bar */

#search_bar > input,
#search_btn {
  position: absolute;
  left: 25%;
  bottom: -45px;
  width: 50%;
  border: none;
  height: 90px;
  border-radius: 25px 25px 25px 25px;
  border: rgba(0, 0, 0, 0.931) 4px solid;
  font-size: 20px;
  font-family: "Paytone One", sans-serif;
  z-index: 200;
}

#search_bar:focus > input {
  outline-style: none;
}

#search_bar > input {
  padding-left: 100px;
  outline-style: none;
}

#vapeur_logo {
  height: 150px;
  position: absolute;
  left: 46%;
  top: -220px;
}

#search_btn {
  left: 65% !important;
  width: 10% !important;
  border-radius: 0 25px 25px 0 !important;
  background-color: #fec057;
}

#search_btn:hover {
  background-color: #fec157d0;
}

/* menu burger */

#menu {
  cursor: pointer;
  display: none;
}

.menu_modal {
  display: none;
  position: fixed;
  top: 10vh;
  left: 0;
  height: 100%;
  width: 50%;
  background-color: #f5f5f5;
  animation: menu 350ms ease-out;
  animation-fill-mode: forwards;
  transform-origin: left;
  z-index: 300 !important;
  overflow: hidden;
  border-bottom: 3px solid #262626;
  border-right: 3px solid #262626;
  border-top: 3px solid #262626;
  padding-left: 20px;
}

#menu_header {
  width: 100%;
  height: fit-content;
  text-align: end;
}

#menu_main > * {
  font-size: 18px;
  font-family: "paytone one";
  text-decoration: none;
  color: #262626;
}

#menu_close {
  padding: 20px 10px 20px 10px;
  border-left: solid 3px #262626;
  border-bottom: solid 3px #262626;
  border-right: solid 3px #262626;
  transform: rotate(45deg);
  cursor: pointer;
  animation: menuC 350ms ease-out;
}
@keyframes menuC {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes menu {
  100% {
    transform: scaleX(1);
  }
  0% {
    transform: scaleX(0);
  }
}

/* Modal nav */

#modal {
  display: none;
  position: absolute;
  top: 8vh;
  right: 0;
  width: 100%;
  background-color: #363b41;
  border-radius: 0 0 20px 20px;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  animation: modal 300ms ease forwards;
  transform-origin: top;
  z-index: 400 !important;
}

#modal > .div_modal_hover > a {
  text-decoration: none;
  color: #f2f2f2;
  font-size: 18px;
  width: 100%;
  height: 30px;
  display: inline-block;
  margin-left: 10px;
  list-style: none;
}

.div_modal_hover {
  width: 100%;
}

.disconnect {
  height: 40px !important;
  color: #a52a2a !important;
  font-size: 20px !important;
}

#modal > a:first-child {
  margin-top: 20px;
}

#modal > .div_modal_hover:last-child {
  border-radius: 0 0 20px 0;
}

.div_modal_hover:hover {
  background-color: #606368;
}

.line {
  border: solid #525252 1px;
  width: 100%;
  margin-top: 7px;
  margin-bottom: 3px;
}

@keyframes modal {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes modalclose {
  100% {
    transform: scaleY(1);
  }
  0% {
    transform: scaleY(0);
  }
}

/* categorie nav modal */

#modal_categorie {
  position: absolute;
  display: none;
  border-radius: 0 0 20px 0;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  top: 0;
  right: -330px;
  width: 115%;
  background-color: #363b41;
  animation: modal_categorie 300ms ease forwards;
  transform-origin: left;
  z-index: 800 !important;
}

.div_modal_hover_categorie {
  width: 100%;
  list-style: none;
}

#modal_categorie > .div_modal_hover_categorie > a {
  text-decoration: none;
  color: #f2f2f2;
  font-size: 18px;
  width: 100%;
  height: 30px;
  display: inline-block;
  margin-left: 20px;
}

#modal_categorie > a:first-child {
  margin-top: 20px;
}

#modal_categorie > .div_modal_hover_categorie:last-child {
  border-radius: 0 0 20px 0;
}

.div_modal_hover_categorie:hover {
  background-color: #606368;
}

.line_categorie {
  border: solid #525252 1px;
  width: 100%;
  margin-top: 7px;
  margin-bottom: 3px;
}

@keyframes modal_categorie {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}


/* Main container */

main {
  position: relative;
  background-color: #f2f2f2;
  font-family: "Paytone One", sans-serif;
  padding-top: 150px;
  padding-bottom: 150px;
  padding: 60px;

}

#main_container {
  width: fit-content;
  display: flex;
  margin: auto;
}

#sub_container{
  display: flex;
  flex-direction: column;
  width: 100%;
}

h3,
h4 {
  font-family: "Paytone One", sans-serif;
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}

.card_container {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  gap: 30px;
  margin: auto;
  flex-wrap: wrap;
}

.card_container:first-child {
  margin-bottom: 50px;
}

.show_more_text{
  display: flex;
  flex-direction: column;
  margin : 10px 0 10px 0;
  text-align: center;
}

.product_card {
  height: 200px;
  width: 300px;
  border-radius: 15px;
  border: none;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow: 5px 5px 12px #949494, -5px -5px 12px #ffffff;
}

.product_unit{
  background-position:center; 
  background-size:cover;
}

.menu_card {
  height: 200px;
  width: 300px;
  border-radius: 15px;
  border: none;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow: 5px 5px 12px #949494, -5px -5px 12px #ffffff;
}

.show_more {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  height: 200px;
  border: none;
  border-radius: 15px;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow: -5px -5px 12px #ffffff;
  text-decoration: none;
  color: #191919;
  font-size: 20px;
  padding: 0 25px 0 25px;
}

.show_more > i{
  margin-right: 10px;
}

.show_more:hover {
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow: 2px 2px 8px 0.5px #949494, -5px -5px 12px #ffffff;
  color: #191919;
}

.img_card1 {
  background: url("../images/burger.png");
  background-size: cover;
  background-position: center center;
}
.img_card2 {
  background: url("../images/boeuf.png");
  background-size: cover;
  background-position: center center;
}
.img_card3 {
  background: url("../images/salade.png");
  background-size: cover;
  background-position: center center;
}
.img_card4 {
  background: url("../images/desserts.png");
  background-size: cover;
  background-position: center center;
}

/* Footer */

footer {
  background-color: #191919;
  display: flex;
  justify-content: center;
  padding: 40px;
}

#footer_title {
  font-family: "Paytone One", sans-serif;
  font-size: 24px;
  color: #f5f5f5;
}

#left_footer {
  position: relative;
  width: 540px;
  padding-top: 50px;
  padding-bottom: 20px;
}

#bottom_footer{
  display: flex;
}

#footer_text {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
  opacity: 0.5;
  margin-top: 36px;
  margin-bottom: 40px;
}

.footer_copyright {
  display: inline;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
  opacity: 0.5;
  margin-top: 36px;
  text-decoration: none;
}

.mention {
  margin-left: 20px;
}

.mention:hover {
  color: #fff;
}

#right_footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 50px;
  padding-bottom: 20px;
}

#footer_link {
  padding-bottom: 105px;
}

#footer_link > a {
  text-decoration: none;
  color: #f1f1f1;
  margin-left: 20px;
}

#network_link {
  display: flex;
  gap: 30px;
}

#network_link > a > IMG {
  height: 35px;
}

.foot_link {
  font-size: 20px;
}

#footer_link > a:hover {
  text-decoration: overline;
}

/* basket */


#header_basket {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  font-family: "IM Fell English SC", serif;
  padding: 14px 30px;
  border-bottom: 1px solid #24212071;
}

#left_header {
  display: flex;
  align-items: center;
}

#header_title {
  font-size: 30px;
  margin-left: 10px;
}

#header_img {
  height: 60px;
}

.fermer {
  cursor: pointer;
  height: 40px !important;
}

#container_overflow {
  /* overflow-y: auto;
  -webkit-overflow-scrolling : auto; */
  background: transparent;
}

#container_overflow > ul > li {
  list-style: none;
}

.basket {
  display: block;
  position: fixed;
  right: -400px;
  height: 100%;
  width: 400px;
  background-color: rgba(255, 252, 234, 0.95);
  transition: 450ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation-fill-mode: forwards;
  transform-origin: right;
  z-index: 998 !important;
  overflow: auto;
}

#basket_font{
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(102, 102, 102, 0.452);
  z-index: 990 !important;
}

.basket_card {
  margin: 20px 25px 20px 25px;
}

h5 {
  font-size: 22px;
  margin-bottom: 8px;
  margin-top: 0;
}

.quantity_basket,
.prix_basket,
.basket_total {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.prix_basket,
.basket_total {
  text-align: end;
}

.fa-trash-can {
  color: brown;
}

#TitreQuantiteDelete {
  display: flex;
  justify-content: space-between;
}

.QTYMultiplier {
  margin-bottom: 2px;
}

.overall {
  display: flex;
  gap: 10px;
  align-items: flex-end;
}

.emptybasket {
  margin-top: 50px;
  font-family: "Paytone One";
  font-size: 26px;
  border: 2px solid #262626;
  display: inline-block;
  transform: translate(20%);
  padding: 10px;
  border-radius: 20px;
}

.basket_total {
  display: flex;
  justify-content: space-between;
  margin: 40px 25px 20px 25px;
}

#basket_button_container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

#basket_button {
  border: none;
  background-color: #fec057;
  color: rgba(255, 252, 234, 0.95);
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  border: solid transparent 1px;
  transition: 200ms;
}

#basket_lien {
  text-decoration: none;
  color: rgba(255, 252, 234, 0.95);
}

#basket_button:hover {
  background-color: rgba(255, 252, 234, 0.95);
  border: solid #fec057 1px;
}

#basket_button:hover > a {
  color: #fec057;
}
/* 
@keyframes basket {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes basketclose {
  100% {
    transform: scaleX(1);
  }
  0% {
    transform: scaleX(0);
  }
} */

@media screen and (max-width: 1280px) {
  /* nav */

  #theInnerOne {
    display: flex;
    flex-wrap: wrap;
    background-color: #f1eded;
    margin: auto;
    width: 750px;
    padding-left: 30px;
    border-radius: 0 0 25px 25px;
  }

  #logo {
    margin: 0;
  }

  .connexionAndCart {
    margin: 0;
    border-radius: 0 0 25px 0;
  }

  /* search bar */

  #search_btn {
    width: 16% !important;
    left: 59% !important;
  }
  
  /* home_bg */
  
  .big_boss {
    height: 70vh !important;
  }
  
  #home_bg {
    height: 60vh !important;
  }
  
  h1 {
    font-size: 90px;
  }

  #gourmet_img {
    height: 200px;
    margin-bottom: 20px;
    margin-top: 50px;
  }

  /* search bar */

  #search_bar > input {
    padding-left: 70px;
  }

  /* main */

  #main_container{
    width: 100%;
  }

  #sub_container{
    width: 100%;
  }

  .card_container{
    flex-wrap: nowrap;
    width: 100%;
  }

  .product_card {
    width: 22.5%;
  }

  .show_more{
    padding: 0 5px 0 5px;
  }

  /* modal */

  #modal_categorie {
    right: 0 !important;
    top: 8.5vh !important;
    width: 75% !important;
    transform-origin: top !important;
    transition: modal_categorieY 300ms ease forwards !important;
  }

  /* footer */

  footer {
    min-height: 30vh;
  }

  #right_footer {
    flex-direction: row;
    align-items: center;
    margin-right: 10%;
    padding-top: 20px;
  }

  #footer_link {
    display: flex;
    flex-direction: column;
    font-size: 21px;
    gap: 10px;
    padding: 0;
    margin-left: 30px;
    margin-right: 30px;
  }

  #footer_link > a {
    margin: 0;
    border: #fff solid 1px;
    border-radius: 40px;
    padding: 10px;
    text-align: center;
  }

  #footer_link > a:focus {
    background-color: #f5f5f5;
    color: black;
  }

  #footer_link > a:hover {
    text-decoration: none;
  }

  #network_link {
    flex-direction: column;
    gap: 25px;
  }

  #network_link > a > img {
    height: 40px;
  }
}

@media screen and (max-width: 1230px) and (max-height: 1350px) {

  #home_bg {
    height: 50vh;
  }

  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 40px;
  }
}

@media screen and (max-width: 1260px) and (max-height: 860px) {
  /* home bg */
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 40px;
    margin-bottom: 10px;
  }

  #gourmet_img {
    height: 150px;
    margin-bottom: 10px;
    margin-top: 40px;
  }
}

@media screen and (max-height: 860px) and (max-width: 1100px) {
  /* home bg */
  
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 30px;
  }

  #gourmet_img {
    height: 150px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

/* ******************************** TABLETTE  ******************************************* */

@media screen and (max-width: 900px) {
  .show_more{
    padding: 0 10px 0 10px;
  }
}

@media screen and (max-width: 800px) {
  /* nav */

  #theInnerOne,
  #theBigOne,
  #nav_left {
    margin-right: 0 !important;
    padding: 0 !important;
    width: 100%;
  }

  .nav,
  #nav_left,
  #theInnerOne {
    border-radius: 0 0 0 0 !important;
  }

  #theInnerOne {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .marge,
  .cart_container {
    margin: 0;
  }

  #logo {
    display: none;
  }

  #userName {
    font-size: 23px;
    font-weight: bold;
  }

  .connexionAndCart {
    position: initial;
  }

  #theBigOne {
    position: relative;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    gap: 0;
  }

  #user_name {
    display: none;
  }

  .nav > div {
    margin: 0;
  }

  /* home bg */
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 40px;
  }

  /* search bar */

  #search_bar > input,
  #search_btn {
    height: 70px;
    font-size: 16px;
    border-radius: 15px 15px 15px 15px;
  }

  #search_btn {
    width: 20% !important;
    left: 55% !important;
    border-radius: 0 15px 15px 0 !important;
  }

  #search_bar > input {
    padding-left: 20px;
  }

  /* modal */
  #modal {
    text-align: center;
    top: 10vh !important;
    right: 0 !important;
    width: 40% !important;
    border-radius: 0 0 0 25px;
  }

  .div_modal_hover > a {
    margin: 0 !important;
  }

  /* main */
  .card_container {
    width: 100%;
    margin: auto;
    flex-wrap: wrap;
  }
  
  .product_card {
    width: 46.5% ;
  }

  .show_more {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 80px;
    color: #191919;
    transform: translateX(50%);
    padding: 15px 0 15px 0;
    height: fit-content;
  }

  .show_more > i {
    transform: rotate(90deg);
  }

  .show_more_text {
    display: flex;
    margin: 0 10px 0 10px;
  }
  
  /* footer */

  footer{
    flex-direction: column-reverse;
  }

  #left_footer{
    padding-top: 0;
    width: auto;
  }
  
  #footer_text{
    margin-top: 20px;
    text-align: justify;
  }

  #right_footer{
    flex-direction: column;
    gap: 30px;
  }

  #footer_link{
    flex-direction: row;
  }

  #network_link{
    flex-direction: row;
  }  
  
  #network_link > a > img{
    height: 30px;
  }
}

@media screen and (max-height: 700px) {
  h1 {
    font-size: 60px;
  }
}

@media screen and (max-height: 800px) and (max-width: 1280px){
  h1{
    font-size: 70px;
  }
  h2{
    font-size: 50px;
  }
  #gourmet_img{
    height: 200px;
    margin-top: 25px;
  }
}

@media screen and (max-height: 685px) {
  #gourmet_img{
    height: 150px;
  }
}

@media screen and (max-height: 605px) {
  h1{
    font-size: 50px;
  }
  h2{
    font-size: 40px;
  }
}

@media screen and (max-width: 605px) {
  .nav > div > .marge,
  .nav > div,
  .nav > .marge,
  .marge {
    font-size: 20px;
  }
}

@media screen and (max-width: 555px) {
  /* nav */

  .nav > div > .marge,
  .nav > div,
  .nav > .marge {
    font-size: 18px;
  }

  .card_container {
    gap: 25px;
  }

  #modal_categorie {
    width: 100% !important;
  }

  .modal_btn_categorie {
    margin-left: 0 !important;
    height: 40px !important;
  }

  #modal_categorie {
    text-align: center !important;
  }
}

@media screen and (max-width: 500px) {
  /* nav */

  #nav_left {
    display: none;
  }

  #menu {
    display: flex;
    margin-left: 20px;
  }

  /* home_bg */

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 40px;
  }

  #connexion {
    font-size: 20px;
  }

  #gourmet_img {
    height: 150px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  /* modal */

  #modal {
    width: 100% !important;
    border-radius: 0 0 0 0;
  }

  /* basket */

  .basket {
    width: 80%;
  }

  /* main */

  .product_card {
    width: 100%;
  }

  /* footer */

  #right_footer{
    margin: 0;
    padding-top: 0;
    align-items: start;
  }

  #footer_link{
    display: none;
  }

  .show_more {
    flex-direction: row;
    width: 100%;
    justify-content: center;
    height: 80px;
    transform: none;
  }

  /* search bar */

  #search_bar > input,
  #search_btn {
    height: 70px;
    font-size: 18px;
    border-radius: 50px 50px 50px 50px;
    width: 75%;
    left: 15%;
  }

  #search_btn {
    width: 30% !important;
    border-radius: 0 50px 50px 0 !important;
    left: 60% !important;
  }

  #search_bar > input {
    padding-left: 20px;
  }
}

