@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Cookie&family=IM+Fell+English+SC&family=Paytone+One&display=swap");

*,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

hr {
  background-color: rgb(226, 226, 226);
  width: 100%;
  margin: 12px 0 5px 0;
}

/* nav */

nav {
  background-color: #f6f6f6;
  width: 100%;
}

nav > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12vh;
}

.nav {
  height: 100%;
}

.nav > div > .marge,
.nav > div,
.nav > .marge {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  margin-left: 20px;
  font-weight: 500;
  font-size: 25px;
  letter-spacing: 1px;
  font-family: "Paytone One", sans-serif;
}

#logo {
  height: 100%;
  margin-left: 150px;
  margin-right: 50px;
}

#nav_left {
  background: #f6f6f6;
  border-radius: 0 0 20px 30px;
  padding-right: 20px;
  height: 100%;
}

#nav_left > a:hover {
  color: #fec057;
}

#cart {
  height: 60px;
}

#cart:hover {
  color: #fec057;
}

#categorie {
  position: relative;
  display: flex;
  margin-left: 20px;
  width: 100%;
}

.cart_container {
  margin-left: 0;
  margin-right: 20px !important;
  cursor: pointer;
}

#user_name {
  font-weight: bold;
  font-size: 35px;
}

.connexionAndCart {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 200px;
  background: #f6f6f6;
  height: 100%;
  padding-right: 20px;
  border-radius: 0 0 20px 30px;
}

.connexionAndCart > a > i {
  display: flex;
  align-items: center;
}

#dropdown,
#dropdown_categorie {
  cursor: pointer;
}

#drop {
  height: 20px;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 25px;
  -moz-user-select: none; /* Firefox */
  -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
  -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
  user-select: none; /* Propriété standard */
}

#connexion{
  cursor: pointer !important;
}

#connexion:hover {
  color: #fec057;
}

#home_bg {
  display: flex;
  flex-direction: column;
  height: 91vh;
  align-items: center;
}

#gourmet_img {
  height: 300px;
  margin-bottom: 20px;
  margin-top: 80px;
}

h3 {
  font-style: italic;
  font-size: 60px;
  color: #f1eded;
  letter-spacing: 4px;
  font-family: "Cookie", cursive;
  margin-bottom: 30px;
}

h4 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}

h1 {
  font-size: 100px;
  color: #f1eded;
  letter-spacing: 4px;
  font-family: "IM Fell English SC", serif;
}

h2 {
  font-size: 60px;
  letter-spacing: 4px;
  font-family: "Paytone One", sans-serif;
  text-align: center;
  margin-bottom: 80px;
}

/* menu burger */

#menu {
  cursor: pointer;
  display: none;
}

.menu_modal {
  display: none;
  position: fixed;
  top: 12vh;
  left: 0;
  height: 100%;
  width: 50%;
  background-color: #f5f5f5;
  animation: menu 350ms ease-out;
  animation-fill-mode: forwards;
  transform-origin: left;
  z-index: 300 !important;
  overflow: hidden;
  border-bottom: 3px solid #262626;
  border-right: 3px solid #262626;
  border-top: 3px solid #262626;
  padding-left: 20px;
}

#menu_header {
  width: 100%;
  height: fit-content;
  text-align: end;
}

#menu_close {
  padding: 20px 10px 20px 10px;
  border-left: solid 3px #262626;
  border-bottom: solid 3px #262626;
  border-right: solid 3px #262626;
  transform: rotate(45deg);
  cursor: pointer;
  animation: menuC 350ms ease-out;
}
@keyframes menuC {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes menu {
  100% {
    transform: scaleX(1);
  }
  0% {
    transform: scaleX(0);
  }
}

/* Modal nav */

#modal {
  display: none;
  position: absolute;
  top: 12vh;
  right: 0;
  width: 100%;
  background-color: #363b41;
  border-radius: 0 0 20px 20px;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  animation: modal 300ms ease forwards;
  transform-origin: top;
  z-index: 400 !important;
}

#modal > .div_modal_hover > a {
  text-decoration: none;
  color: #f2f2f2;
  font-size: 18px;
  width: 100%;
  height: 30px;
  display: inline-block;
  margin-left: 10px;
  list-style: none;
}

.div_modal_hover {
  width: 100%;
}

.disconnect {
  height: 45px !important;
  color: #a52a2a !important;
  font-size: 20px !important;
}

#modal > a:first-child {
  margin-top: 20px;
}

#modal > .div_modal_hover:last-child {
  border-radius: 0 0 20px 20px;
}

.div_modal_hover:hover {
  background-color: #606368;
}

#line {
  border: solid #525252 1px;
  width: 100%;
  margin-top: 7px;
  margin-bottom: 3px;
}

@keyframes modal {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes modal {
  100% {
    transform: scaleY(1);
  }
  0% {
    transform: scaleY(0);
  }
}

/* categorie nav modal */

#modal_categorie {
  display: none;
  position: absolute;
  top: 7.5vh;
  right: 0;
  width: 100%;
  background-color: #363b41;
  border-radius: 0 0 20px 20px;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  animation: modal 300ms ease forwards;
  transform-origin: top;
  z-index: 400 !important;
}

#modal_categorie > .div_modal_hover_categorie > a {
  text-decoration: none;
  color: #f2f2f2;
  font-size: 18px;
  width: 100%;
  height: 30px;
  display: inline-block;
  margin-left: 10px;
  list-style: none;
}

.div_modal_hover_categorie {
  width: 100%;
}

#modal_categorie > a:first-child {
  margin-top: 20px;
}

#modal_categorie > .div_modal_hover_categorie:last-child {
  border-radius: 0 0 20px 20px;
}

.div_modal_hover_categorie:hover {
  background-color: #606368;
}

.line_categorie {
  border: solid #525252 1px;
  width: 100%;
  margin-top: 7px;
  margin-bottom: 3px;
}

/* @keyframes modal_categorie {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
} */

/* Main container */

#search_bar > input {
  position: absolute;
  top: -60px;
  left: 25%;
  width: 50%;
  border: none;
  height: 120px;
  border-radius: 50% 50% 50px 50px;
}
#search_bar:focus > input {
  outline-style: none;
}

#search_bar > input::placeholder {
  padding-left: 50px;
}

#vapeur_logo {
  height: 150px;
  position: absolute;
  left: 46%;
  top: -220px;
}

main {
  position: relative;
  min-height: 100vh;
  background-color: #f2f2f2;
}

/* Footer */

footer {
  background-color: #191919;
  display: flex;
  justify-content: center;
  padding: 40px;
}

#footer_title {
  font-family: "Paytone One", sans-serif;
  font-size: 24px;
  color: #f5f5f5;
}

#left_footer {
  position: relative;
  width: 540px;
  padding-top: 50px;
  padding-bottom: 20px;
}

#bottom_footer{
  display: flex;
}

#footer_text {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
  opacity: 0.5;
  margin-top: 36px;
  margin-bottom: 40px;
}

.footer_copyright {
  display: inline;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
  opacity: 0.5;
  margin-top: 36px;
  text-decoration: none;
}

.mention {
  margin-left: 20px;
}

.mention:hover {
  color: #fff;
}

#right_footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 50px;
  padding-bottom: 20px;
}

#footer_link {
  padding-bottom: 105px;
}

#footer_link > a {
  text-decoration: none;
  color: #f1f1f1;
  margin-left: 20px;
}

#network_link {
  display: flex;
  gap: 30px;
}

#network_link > a > IMG {
  height: 35px;
}

.foot_link {
  font-size: 20px;
}

#footer_link > a:hover {
  text-decoration: overline;
}
/* panier */

#header_basket {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  font-family: "IM Fell English SC", serif;
  padding: 14px 30px;
  border-bottom: 1px solid #24212071;
}


#left_header {
  display: flex;
  align-items: center;
}

#header_title {
  font-size: 30px;
  margin-left: 10px;
}

#header_img {
  height: 60px;
}

.fermer {
  cursor: pointer;
  height: 40px !important;
}

#container_overflow {
  /* overflow-y: auto;
  -webkit-overflow-scrolling : auto; */
  background: transparent;
}

.emptybasket {
  margin-top: 50px;
  font-family: "Paytone One";
  font-size: 26px;
  border: 2px solid #262626;
  display: inline-block;
  transform: translate(20%);
  padding: 10px;
  border-radius: 20px;
}

#container_overflow > ul > li {
  list-style: none;
}

.basket {
  display: block;
  position: fixed;
  right: -400px;
  height: 100%;
  width: 400px;
  background-color: rgba(255, 252, 234, 0.95);
  transition: 450ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation-fill-mode: forwards;
  transform-origin: right;
  z-index: 998 !important;
  overflow: auto;
}

#basket_font{
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(102, 102, 102, 0.452);
  z-index: 990 !important;
}

.basket_card {
  margin: 20px 25px 20px 25px;
}

h5 {
  font-size: 22px;
  margin-bottom: 8px;
  margin-top: 0;
}

.quantity_basket,
.prix_basket,
.basket_total {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.prix_basket,
.basket_total {
  text-align: end;
}

.fa-trash-can {
  color: brown;
}

#TitreQuantiteDelete {
  display: flex;
  justify-content: space-between;
}

.QTYMultiplier {
  margin-bottom: 2px;
}

.overall {
  display: flex;
  gap: 10px;
  align-items: flex-end;
}

.basket_total {
  display: flex;
  justify-content: space-between;
  margin: 40px 25px 20px 25px;
}

#basket_button_container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

#basket_button {
  border: none;
  background-color: #fec057;
  color: rgba(255, 252, 234, 0.95);
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  border: solid transparent 1px;
  transition: 200ms;
}

#basket_lien {
  text-decoration: none;
  color: rgba(255, 252, 234, 0.95);
}

#basket_button:hover {
  background-color: rgba(255, 252, 234, 0.95);
  border: solid #fec057 1px;
}

#basket_button:hover > a {
  color: #fec057;
}

/* ******************************** LAPTOP ******************************************* */

@media screen and (max-width: 1200px) {
  /* nav */

  #logo {
    display: none;
    margin: 0;
  }

  #theBigOne {
    position: relative;
    justify-content: center;
    gap: 50px;
  }

  .connexionAndCart {
    position: initial;
  }

  .connexionAndCart,
  .nav > .marge {
    padding: 0;
    margin: 0;
  }

  #modal {
    text-align: center;
    top: 12vh !important;
    right: 0 !important;
    width: 50% !important;
    border-radius: 0 0 0 25px;
  }

  /* footer */

  footer {
    min-height: 30vh;
  }

  #right_footer {
    flex-direction: row;
    align-items: center;
    margin-right: 10%;
    padding-top: 20px;
  }

  #footer_link {
    display: flex;
    flex-direction: column;
    font-size: 21px;
    gap: 10px;
    padding: 0;
    margin-left: 30px;
    margin-right: 30px;
  }

  #footer_link > a {
    margin: 0;
    border: #fff solid 1px;
    border-radius: 40px;
    padding: 10px;
    text-align: center;
  }

  #footer_link > a:focus {
    background-color: #f5f5f5;
    color: black;
  }

  #footer_link > a:hover {
    text-decoration: none;
  }

  #network_link {
    flex-direction: column;
    gap: 25px;
  }

  #network_link > a > img {
    height: 40px;
  }
}


/* ******************************** TABLETTE  ******************************************* */

@media screen and (max-width: 800px) {
  footer{
    flex-direction: column-reverse;
  }

  #left_footer{
    padding-top: 0;
    width: auto;
  }
  
  #footer_text{
    margin-top: 20px;
    text-align: justify;
  }

  #right_footer{
    flex-direction: column;
    gap: 30px;
  }

  #footer_link{
    flex-direction: row;
  }

  #network_link{
    flex-direction: row;
  }
  
  #network_link > a > img{
    height: 30px;
  }
}

@media screen and (max-width: 640px) {
  /* nav */

  #nav_left {
    display: none;
  }

  #menu {
    display: flex;
  }

  #userName {
    font-size: 23px;
    font-weight: bold;
  }

  .connexionAndCart {
    position: initial;
  }

  #theBigOne {
    position: relative;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    gap: 0;
  }

  #user_name {
    display: none;
  }

  .nav > div {
    margin: 0;
  }

  #modal {
    text-align: center;
    width: 100% !important;
    top: 12vh !important;
    right: 0 !important;
    border-radius: 0 0 0 0;
  }

  .div_modal_hover > a {
    margin: 0 !important;
  }
}
/* ******************************** Mini Tablette  ******************************************* */


@media screen and (max-width: 640px) {
  #theBigOne {
    padding: 20px;
  }

  .cart_container {
    margin: 0 !important;
  }
}

@media screen and (max-width: 500px) {
  #right_footer{
    margin: 0;
    padding-top: 0;
    align-items: start;
  }
  
  #network_link > a > img{
    height: 30px;
  }

  #footer_link{
    display: none;
  }

  .show_more {
    flex-direction: row;
    width: 100%;
    justify-content: center;
    height: 80px;
    transform: none;
  }
}

/* ******************************** MOBILE ******************************************* */
@media screen and (max-width: 425px) {
  footer {
    min-height: 30vh;
    background-color: #191919;
    display: flex;
    flex-direction: column-reverse;
    padding: 0 20px 0 20px;
  }

  #left_footer {
    width: 100%;
    margin-left: 0;
    padding-top: 0;
    padding: 10px;
    position: relative;
  }

  #footer_text {
    font-weight: 500;
    font-size: 15px;
    text-align: justify;
    line-height: 25px;
    color: #ffffff;
    opacity: 0.5;
   
  }
  #footer_title {
    text-align: center;
  }

  .footer_copyright {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #ffffff;
    opacity: 0.5;
    margin-top: 36px;
    text-decoration: none;
  }

 


  #right_footer {
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    margin-right: 15%;
    padding-top: 50px;
    padding-bottom: 20px;
  }

  #footer_link {
    padding-bottom: 10px;
  }
  
  #footer_link > a {
    text-decoration: none;
    color: #f1f1f1;
    margin-left: 20px;
  }
  
  #network_link {
    display: flex;
    transform: translateX(-60%);
    gap: 20px;
  }

  #footer_link > a:hover {
    text-decoration: overline;
  }
}
