{% extends 'Dashboard/baseAdmin.html.twig' %}


{% block title %}Nouveau Produit{% endblock %}

{% block body %}
    <div class="container">
    <h1 class="text-center">Créer nouveau produit</h1>
    <a class="btn btn-info" href="{{ path('app_admin_produit_index') }}">Retour</a>

    {{ include('admin_produit/_form.html.twig') }}

    </div>
{% endblock %}
